.stopwatch {
    display: flex;
    width: 50px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.stopwatch__container {
    display: flex;
    flex-direction: row;
}

.stopwatch__item-span {
    color: black;
    font-size: 34px;
    text-align: center;
}
.stopwatch__item {
	width: 13px;
	height: 23px;
}

.stopwatch__item_zero {
	background: url('../../images/minesweeper-sprites_9TPZzv3.png') no-repeat -126px 0;
}

.stopwatch__item_one {
	background: url('../../images/minesweeper-sprites_9TPZzv3.png') no-repeat 0 0;
}

.stopwatch__item_two {
	background: url('../../images/minesweeper-sprites_9TPZzv3.png') no-repeat -14px 0;
}

.stopwatch__item_three {
	background: url('../../images/minesweeper-sprites_9TPZzv3.png') no-repeat -28px 0;
}

.stopwatch__item_four {
	background: url('../../images/minesweeper-sprites_9TPZzv3.png') no-repeat -42px 0;
}

.stopwatch__item_five {
	background: url('../../images/minesweeper-sprites_9TPZzv3.png') no-repeat -56px 0;
}

.stopwatch__item_six {
	background: url('../../images/minesweeper-sprites_9TPZzv3.png') no-repeat -70px 0;
}

.stopwatch__item_seven {
	background: url('../../images/minesweeper-sprites_9TPZzv3.png') no-repeat -84px 0;
}

.stopwatch__item_eight {
	background: url('../../images/minesweeper-sprites_9TPZzv3.png') no-repeat -98px 0;
}

.stopwatch__item_nine {
	background: url('../../images/minesweeper-sprites_9TPZzv3.png') no-repeat -112px 0;
}