.game {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    border: none;
}

.game__header {
    width: 100%;
    height: 50px;
    box-shadow: inset 5px -5px 10px rgba(0, 0, 0, 0.18);
    background-color: #c0c0c0;
    display: flex;
    justify-content: space-around;
    align-content: center;
}